<launch>

  <arg name="origin" default="-x 1 -y 1 -z 1 -R 0 -P 0 -Y 0"/>
  <arg name="object_name" default="002_master_chef_can"/>

  <param name="$(arg object_name)" command="$(find xacro)/xacro --inorder '$(find objects_models)/urdf/$(arg object_name)/model.urdf' "/>

  <node name="spawn_gazebo_model_object" pkg="gazebo_ros" type="spawn_model" args="-urdf -param $(arg object_name) -model $(arg object_name) $(arg origin)" respawn="false" output="screen" />
</launch>