<?xml version="1.0"?>
<launch>
  <arg name="3f" default="false" doc="If true, limits joint range [-PI, PI] on all joints." />
  
  <param unless="$(arg 3f)" name="robot_description" command="$(find xacro)/xacro --inorder '$(find ur_e_description)/urdf/ur5e_robot.urdf.xacro'" />
  <param if="$(arg 3f)" name="robot_description" command="$(find xacro)/xacro --inorder '$(find ur_e_description)/urdf/ur5e_robot_3f.urdf.xacro'" />
</launch>
