<?xml version="1.0"?>
<launch>
  <arg name='origin' default='-x -0.2 -y 0.1 -z 1.02'/>
  <arg name='robot_name' default='ur5'/>
  <arg name="limited" default="false"  doc="If true, limits joint range [-PI, PI] on all joints." />
  <arg name="paused" default="false" doc="Starts gazebo in paused mode" />
  <arg name="gui" default="true" doc="Starts gazebo gui" />
  <arg name="mode" default="position"/>

  
  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" default="$(find nodes)/worlds/arm_example.world"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="gui" value="$(arg gui)"/>
  </include>

  <group ns="ur5_2">
    <!-- send robot urdf to param server -->
    <include file="$(find ur_e_description)/launch/ur5e_upload.launch">
      <arg name="grip" value="3f"/>
    </include>
    
    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model $(arg robot_name) $(arg origin) -model $(arg robot_name) -J shoulder_lift_joint -1.5 -J elbow_joint 1.0 -J wrist_2_joint -1.57 -J wrist_2_joint -1.57 -J gripper_palm_finger_1_joint 0 -J gripper_finger_1_joint_1 0 -J gripper_finger_1_joint_2 0 -J gripper_finger_1_joint_3 0 -J gripper_finger_2_joint_1 0 -J gripper_finger_2_joint_2 0 -J gripper_finger_2_joint_3 0 -J gripper_finger_middle_joint_1 0 -J gripper_finger_middle_joint_2 0 -J gripper_finger_middle_joint_3 0" respawn="false" output="screen" />

    
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    </node>

    <rosparam file="$(find ur_e_gazebo)/controller/ur5_controller_params_pid.yaml" command="load"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="true" output="screen" args="shoulder_pan_joint_position_controller shoulder_lift_joint_position_controller elbow_joint_position_controller wrist_1_joint_position_controller wrist_2_joint_position_controller wrist_3_joint_position_controller joint_state_controller" />

    <rosparam file="$(find ur_e_gazebo)/controller/gripper_controller_robotiq.yaml" command="load"/>

    <rosparam file="$(find ur_e_gazebo)/controller/gripper_3f_controller.yaml" command="load"/>
    <node name="robotiq_controller_spawner" pkg="controller_manager" type="spawner" args="finger_1_joint_1_controller  finger_2_joint_1_controller finger_middle_joint_1_controller" respawn="true" output="screen"/>


  </group>

  <node name="cart_pos" pkg="nodes" type="cart_pos.py" args="ur5_2 3f" output="screen" />  

  <node name="controller" pkg="nodes" type="controller.py" args="ur5_2" output="screen"/>    
</launch>
