<?xml version="1.0"?>
<launch>
    <arg name="limited" default="false"  doc="If true, limits joint range [-PI, PI] on all joints." />
    <arg name="paused" default="false" doc="Starts gazebo in paused mode" />
    <arg name="gui" default="true" doc="Starts gazebo gui" />
    <arg name="number" default="1"/>
    <arg name="name1" default="ur5_2" />
    <arg name="name2" default="ur5_1" />
    <arg name="origin1" default="-x -0.2 -y 0.8 -z 1.02"/>
    <arg name="origin2" default="-x -0.2 -y 0.1 -z 1.02"/>
    <arg name="grip1" default="3f"/>
    <arg name="grip2" default="3f" />
    <arg name="sim_gaz" default="true" />

    <group if="$(eval arg('sim_gaz'))">
        <!-- startup simulated world -->
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" default="$(find nodes)/worlds/arm_example.world"/>
            <arg name="paused" value="$(arg paused)"/>
            <arg name="gui" value="$(arg gui)"/>
        </include>


        <!-- Launch each robot separately -->
        <!-- ONE ROBOT-->
        <group if="$(eval arg('number')==1)">
            <group ns='$(arg name1)'>
                <include file='$(find nodes_one)/launch/ur5e_.launch'>
                    <arg name="origin" value="$(arg origin1)"/>
                    <arg name="robot_name" value='$(arg name1)'/>
                    <arg name='grip' value='$(arg grip1)' />
                </include>
                
                <!-- phantom / master controller -->
                <node name="phantom_controller" pkg="nodes_one" type="phantom" args="$(arg name1) $(arg grip1)" output="screen" />
                
            </group>
        </group>


        <!-- TWO ROBOTS-->
        <group if="$(eval arg('number')==2)">
            <group ns='$(arg name1)'>
                <include file='$(find nodes_one)/launch/ur5e_.launch'>
                    <arg name="origin" value="$(arg origin1)"/>
                    <arg name="robot_name" value="$(arg name1)"/>
                    <arg name='grip' value='$(arg grip1)' />
                </include>
                <node name="phantom_controller" pkg="nodes_one" type="phantom" args="$(arg name1) $(arg grip1)" output="screen" />
            </group>
            <group ns='$(arg name2)'>
                <include file='$(find nodes_one)/launch/ur5e_.launch'>
                    <arg name="origin" value="$(arg origin2)"/>
                    <arg name="robot_name" value="$(arg name2)"/>
                    <arg name='grip' value='$(arg grip2)' />
                </include>
                <node name="phantom_controller2" pkg="nodes_one" type="phantom" args="$(arg name2) $(arg grip2)" output="screen" />
            </group>
        </group>
    </group>


    <!-- PYBULLET -->
    <group unless= "$(eval arg('sim_gaz'))">
        <node name="pybullet_master" pkg="pybullet_nodes" type="ur5.py" args="$(arg number) $(arg name1) $(arg name2) $(arg origin1) $(arg origin2) $(arg grip1) $(arg grip2) $(find pybullet_description)" output="screen"/>

        <!-- ONE ROBOT -->
        <group if="$(eval arg('number')==1)">
            <group ns='$(arg name1)'>  
                <node name="cart_pos" pkg="nodes" type="cart_pos.py" args="$(arg name1) $(arg grip1)" output="screen" /> 
                <node name="phantom_controller" pkg="nodes_one" type="phantom" args="$(arg name1) $(arg grip1)" output="screen" />            
                
                <group if="$(eval arg('grip1')=='3f')">
                    <node name="gripper_controller" pkg="nodes_one" type="main_gripper_controller" args="$(arg name1) $(arg grip1)" output="screen" />
                </group>
                <group if="$(eval arg('grip1')=='2f_140')">
                    <node name="gripper_controller" pkg="nodes_one" type="main_gripper_controller_2f" args="$(arg name1) $(arg grip1)" output="screen" />
                </group>
            </group>
        </group>

        <!-- TWO ROBOTS -->
        <group if="$(eval arg('number')==2)">
            <group ns='$(arg name1)'>
                <node name="cart_pos" pkg="nodes" type="cart_pos.py" args="$(arg name1) $(arg grip1)" output="screen" /> 
                <node name="phantom_controller" pkg="nodes_one" type="phantom" args="$(arg name1) $(arg grip1)" output="screen" />

                <group if="$(eval arg('grip1')=='3f')">
                    <node name="gripper_controller1" pkg="nodes_one" type="main_gripper_controller" args="$(arg name1) $(arg grip1)" output="screen" />
                </group>
                <group if="$(eval arg('grip1')=='2f_140')">
                    <node name="gripper_controller1" pkg="nodes_one" type="main_gripper_controller_2f" args="$(arg name1) $(arg grip1)" output="screen" />
                </group>
            </group>
            <group ns='$(arg name2)'> 
                <node name="cart_pos" pkg="nodes" type="cart_pos.py" args="$(arg name1) $(arg grip1)" output="screen" />                 
                <node name="phantom_controller2" pkg="nodes_one" type="phantom" args="$(arg name2) $(arg grip2)" output="screen" />            
            
                <group if="$(eval arg('grip2')=='3f')">
                    <node name="gripper_controller2" pkg="nodes_one" type="main_gripper_controller" args="$(arg name1) $(arg grip1)" output="screen" />
                </group>
                <group if="$(eval arg('grip2')=='2f_140')">
                    <node name="gripper_controller2" pkg="nodes_one" type="main_gripper_controller_2f" args="$(arg name1) $(arg grip1)" output="screen" />
                </group>
            </group>
        </group>
    </group>
    
</launch>